<!-- IF $BS_COMMENTS -->

blusilver configuation

$BS_FORUM_WIDTH = Forum width - examples of correct values: '90%', '900px'
$BS_RSIDE_WIDTH = Statistics and lastpost column width - default value ('330px')
$BS_STATISTICS_WIDTH = Statistics column width - default value ('90px')
$BS_PROFILES_ON_LEFT = Displays poster profile on the left side '1' = yes
$BS_PROFILES_WIDTH = Poster profile column width - default value ('220px')
$BS_CLICKABLE_HEADER = Entire header clickable '1' = yes
$BS_SUBFORUMS_IN_COLUMNS = Displays the list of subforums in columns '1' = yes
$BS_LAST_POST_TITLE = Displays the latest topic title in the “Last post” column '1' = yes
$BS_LEFT_SIDEBAR = Enable left sidebar '1' = yes
$BS_LEFT_SIDEBAR_WIDTH = Left sidebar width - default value ('180px')
$BS_RIGHT_SIDEBAR = Enable right sidebar '1' = yes
$BS_RIGHT_SIDEBAR_WIDTH = Right sidebar width - default value ('180px')
$BS_SIDEBAR_INDEX = Displays sidebars only on index and viewforum page '1' = yes
$BS_QR_VISIBLE = Quick reply editor always visible '1' = yes
$BS_LEGEND = Displays forum icon legend '1' = yes

<!-- ENDIF -->

<!-- DEFINE $BS_FORUM_WIDTH = '' -->
<!-- DEFINE $BS_RSIDE_WIDTH = '' -->
<!-- DEFINE $BS_STATISTICS_WIDTH = '' -->
<!-- DEFINE $BS_PROFILES_ON_LEFT = '' -->
<!-- DEFINE $BS_PROFILES_WIDTH = '' -->
<!-- DEFINE $BS_CLICKABLE_HEADER = '' -->
<!-- DEFINE $BS_SUBFORUMS_IN_COLUMNS = '' -->
<!-- DEFINE $BS_LAST_POST_TITLE = '' -->
<!-- DEFINE $BS_LEFT_SIDEBAR = '' -->
<!-- DEFINE $BS_LEFT_SIDEBAR_WIDTH = '' -->
<!-- DEFINE $BS_RIGHT_SIDEBAR = '' -->
<!-- DEFINE $BS_RIGHT_SIDEBAR_WIDTH = '' -->
<!-- DEFINE $BS_SIDEBAR_INDEX = '' -->
<!-- DEFINE $BS_QR_VISIBLE = '' -->
<!-- DEFINE $BS_LEGEND = '' -->

<!-- DEFINE $BS_LEFT_SIDEBAR_TITLE = 'Left sidebar' -->
<!-- DEFINE $BS_RIGHT_SIDEBAR_TITLE = 'Right sidebar' -->
<!-- DEFINE $BS_ADS_TITLE = 'Advertisement' -->
<!-- DEFINE $BS_SHARE_TITLE = 'Share this topic' -->


<!-- IF $BS_COMMENTS -->

Space for advertising.

$BS_ADS_ = Put your code for ads between the ''
An example of correct value '<a href="https://www.phpbb.com/"><img src="https://www.phpbb.com/theme/images/logos/blue/468x60.png" alt="{L_VISIT_WEBSITE}" /></a>'

$BS_ADS_BANNER = Inside header
$BS_ADS_HEADER = Below header
$BS_ADS_FIRST_POST = After first post
$BS_ADS_LAST_POST = Before last post
$BS_ADS_FOOTER = Below footer

<!-- ENDIF -->


<!-- DEFINE $BS_ADS_BANNER = '' -->
<!-- DEFINE $BS_ADS_HEADER = '' -->
<!-- DEFINE $BS_ADS_FIRST_POST = '' -->
<!-- DEFINE $BS_ADS_LAST_POST = '' -->
<!-- DEFINE $BS_ADS_FOOTER = '' -->


<!-- IF $BS_COMMENTS -->

Share buttons based on "Share On" MOD v 2.0.0

$BS_SHARE_ = Display share buttons '1' = yes

<!-- ENDIF -->

<!-- DEFINE $BS_SHARE_FACEBOOK = '' -->
<!-- DEFINE $BS_SHARE_TWITTER = '' -->
<!-- DEFINE $BS_SHARE_TUENTI = '' -->
<!-- DEFINE $BS_SHARE_SONICO = '' -->
<!-- DEFINE $BS_SHARE_FRIENDFEED = '' -->
<!-- DEFINE $BS_SHARE_ORKUT = '' -->
<!-- DEFINE $BS_SHARE_DIGG = '' -->
<!-- DEFINE $BS_SHARE_MYSPACE = '' -->
<!-- DEFINE $BS_SHARE_DELICIOUS = '' -->
<!-- DEFINE $BS_SHARE_TECHNORATI = '' -->
<!-- DEFINE $BS_SHARE_GOOGLE = '' -->


<!-- IF $BS_COMMENTS -->

DO NOT EDIT CODE BELOW unless you know what you are doing

<!-- ENDIF -->


<!-- DEFINE $BS_BOX_START = '<div class="t-l"></div><div class="t-r"></div><div class="t-m">' -->
<!-- DEFINE $BS_BOX_CONTENT = '</div><div class="m-l"><div class="m-r"><div class="m-m">' -->
<!-- DEFINE $BS_BOX_END = '</div></div></div><div class="b-l"></div><div class="b-r"></div><div class="b-m"></div>' -->