		<div class="navbar">
			<ul class="linklist">
				<li class="first"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a></li>
				<!-- IF U_ACP --><li><a href="{U_ACP}">{L_ACP}</a></li><!-- ENDIF -->

				<li class="rightside first"><a class="scroll2" onclick="scroll(0,0);">{L_BACK_TO_TOP}</a></li>
				<!-- IF not S_IS_BOT --><li class="rightside"><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a></li><!-- ENDIF -->
				<!-- IF U_TEAM --><li class="rightside"><a href="{U_TEAM}">{L_THE_TEAM}</a></li><!-- ENDIF -->
			</ul>
		</div>

	</div><!-- end page-body -->
	<div class="clear"></div>

</div><!-- end wrap -->

<div id="page-footer">
	<div class="copyright">
		<div class="column1">
			{CREDIT_LINE}<br />
			{S_TIMEZONE}<!-- IF S_USER_LOGGED_IN --> | {LAST_VISIT_DATE}<!-- ENDIF -->
			<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
			<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
		</div>

		<div class="column2">
			Design by pit
		</div>

	<div class="clear"></div>

	<!-- IF $BS_ADS_FOOTER != '' -->
		<p class="ads">
			{$BS_ADS_FOOTER}
		</p>
	<!-- ENDIF -->

		<a id="bottom" accesskey="z"></a>
		<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
	</div>
</div>

</body>
</html>