<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>
<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
{META}
<title>{SITENAME} &bull; {PAGE_TITLE}</title>

<!-- INCLUDE _bs_config.html -->

<link href="http://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet" type="text/css" />
<link href="{T_STYLESHEET_LINK}" rel="stylesheet" type="text/css" media="screen, projection" />

<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
	<link href="{T_THEME_PATH}/bidi.css" rel="stylesheet" type="text/css" media="screen, projection" />
<!-- ENDIF -->

<!--[if IE 6]><link href="{T_THEME_PATH}/images/ie6/ie6.css" rel="stylesheet" type="text/css" media="screen, projection" /><![endif]-->

</head>

<body id="phpbb" class="{S_CONTENT_DIRECTION} simple">
<div id="simple-wrap">
